/*Author: Danial Shahali*/
/* The background color*/
body {
  background: beige;
}
/* To create two euqal columns*/
.column {
  float: left;
  width: 50%;
}

/*This section changes style of the p*/
.p-style {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  line-height: 1.5;
  color: #362316;
}

h1 {
  color: #301d0e;
  font: 'Roboto Mono', monospace;
}

h2 {
  color: #301d0e;
  font: 'Roboto Mono', monospace;
}

h3 {
  color: #301d0e;
  font: 'Roboto Mono', monospace;
}

.image {
  width: 95%;
}

/*This section changes style of the thik black lines*/
hr {
  width: 100%;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

.btn {
  border: 50%;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(255, 251, 0);
  color: white;
  cursor: pointer;
}

.nav {
  background-color: beige;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
